<%= render :partial => "header" %>
<% if not current_user.id == @user.id %>
    <div align="right"><%= button_to "Start a conversation", conversations_start_path(:user => @user) %></div>
<% end %>
<div align="center">
<% if current_user.id == @user.id %>
    <%= render :partial => "form", :locals => {:user => current_user, :post => current_user.posts.build } %>
<% end %>
<h1><%= @user.name %>'s posts:</h1>
<% @user.posts.each do |post| %>
    <h2><%= post.title %></h2>
    <%= post.body %>
    <% if current_user.id == post.user_id %>
        <%= button_to "X", posts_destroy_path(post) %>
    <% end %>
    <p>_______________________________________</p>
    <p>Comments:</p><br>
    <% post.comments.each do |comment| %>
        <b><%= link_to User.find(comment.user_id).name,User.find(comment.user_id) %></b>: <br><%= comment.body %>
        <br>
        <% if current_user.id == comment.user_id %>
              <%= button_to "X", comments_destroy_path(post,comment) %>
        <% end %>
        <p>________________________________________</p>
  <% end %>
  <%= render :partial => "commentform", :locals => {:post => post, :comment => post.comments.build } %>
  <br><br><br><br>
<% end %>
<%= render :partial => "footer" %>
</div>